<div class="hero-block auto pad-sm">
    <div class="hero-block-header auto pad-bot">
        <div>
            <h2>Podcasts</h2>
            <h4>What to listen to whilst on your next 25 miler or whilst stuck at your desk dreaming about your next adventure
            </h4>
            <br>
            <div class="sub-header-block">
                <img src="/images/subscribe_star.svg"/>  <a class="btn-line ml"> Subscribe to our newsletter</a> <span>and get the very best of waddl every week for FREE</span>
            </div>
        </div>
    </div>

</div>