<div class="hero-block auto pad-sm">
    <div class="hero-block-header auto pad-bot">
        <div>
            <h2>Nutrition</h2>
            <h4>A list of healthy meals, bars & drinks to support you through training and your next event.

            </h4>
            <br>
            <div class="sub-header-block">
                <img src="/images/upload_arrow.svg"/>   <a class="btn-line ml"> Add yummy things to our list</a>
            </div>
        </div>
    </div>

    <div class="sub-hero-nav">
        <a href="/nutrition/bars" class="active-sub">Bars</a>
        <a href="/nutrition/drinks">Drinks</a>
        <a href="/nutrition/meals">Meals</a>
    </div>
    <br>
</div>