<div class="hero-block auto pad-sm">
    <div class="hero-block-header auto pad-bot">
        <div class="fl">
            <h2>About us</h2>
            <h4>Waddl was founded on the belief that endurance shouldn’t exist online —you should find what you need super flipping’ fast giving you more time to enjoy the great outdoors. Our mission is to support everyday endurance athletes. Not podium preachers, but the real winners who get up early to stay healthy and have fun with mates. Flipping’ simple. </h4>
            <br>
            <br>
            <h1>Support us</h1>
            <h4>All the resources on waddl are presented freely. If you appreciate what we do and you'd like to support the project, simply share the site with your community and on social media.</h4>
            <br>
            <a href="/share" class="btn-secondary primary">Share with friends</a>
            <br>
            <br>
        </div>
    </div>


</div>