<div class="hero-block auto pad-sm">
    <div class="hero-block-header auto pad-bot">
        <div class="fl">
            <h2>Everything Endurance</h2>
            <h4>Gifted to you by the most generous community of absolutely awesome amatuer athletes </h4>
            <br>
            <div class="sub-header-block">
                <img src="/images/subscribe_star.svg"/>  <a class="btn-line ml"> Subscribe to our newsletter</a> and get the very best of waddl every week for FREE</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="pad-bot-lg auto">
            <div class="col-xs-6 col-sm-2 col-md-2 np">
                <a href="/hotjar" class="block-box">
                    <div class="block-image">

                    </div>
                </a>
                <h4>Gear</h4>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2 np">
                <div class="block-box pad-xs">
                    <div class="block-image b-img-01">

                    </div>
                </div>
                <h4>Nutrition</h4>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2 np">
                <div class="block-box pad-xs">
                    <div class="block-image b-img-02">

                    </div>
                </div>
                <h4>Training</h4>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2 np">
                <a href="/commonpence" class="block-box pad-xs">
                    <div class="block-image b-img-03">

                    </div>
                </a>
                <h4>Races</h4>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 np">
                <div class="pad-sm">
                    <h2>POPULAR</h2>
                    <p>Find gear, super nutrition packs, training tips and races nearby</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="pad-bot-lg auto">
            <div class="col-xs-12 col-sm-3 col-md-3 np">
                <div class="pad-sm">
                    <h2>LEARNING</h2>
                    <p>brush up & stay inline with trends, tips & tricks. Meet like-minded fit folks </p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2 np">
                <a href="/blogs" class="block-box pad-xs">
                    <div class="block-image b-img-04">

                    </div>
                </a>
                <h4>Communities</h4>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2 np">
                <a href="/blogs" class="block-box pad-xs">
                    <div class="block-image b-img-05">

                    </div>
                </a>
                <h4>Blogs</h4>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2 np">
                <a href="/books" class="block-box pad-xs">
                    <div class="block-image b-img-06">

                    </div>
                </a>
                <h4>Books</h4>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2 np">
                <div class="block-box pad-xs">
                    <div class="block-image b-img-07">

                    </div>
                </div>
                <h4>Podcasts</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="pad-bot-lg auto">
            <div class="col-xs-6 col-sm-3 col-md-3 np">
                <a href="/tools" class="block-box pad-xs">
                    <div class="block-image b-img-09">

                    </div>
                </a>
                <h4>Apps</h4>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 np">
                <a href="/tools" class="block-box pad-xs">
                    <div class="block-image b-img-08">

                    </div>
                </a>
                <h4>Entertainment</h4>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 np">
                <div class="pad-sm">
                    <h2>HANDY</h2>
                    <p>Super useful resources including films, shows, travel and a tad boring...insurance</p>
                </div>
            </div>
        </div>
    </div>
</div>