<div class="hero-block auto pad-sm">
    <div class="hero-block-header auto pad-bot">
        <div>
            <h2>Share waddl with friends</h2>
            <h4>We aren't lazy, we just believe in community. So if you find waddl handy, funny or useful in anyway then share it with friends. If you didn't, no stress.</h4>
            <br>
            <div class="sub-header-block">
                <img src="/images/subscribe_star.svg"/>  <a class="btn-line ml"> Subscribe to our newsletter</a> and get the very best of waddl every week for FREE</a>
            </div>
        </div>
    </div>


</div>