<div class="auto">
    <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="side-nav pad-top">
            <ul class="pad-bot">
                <li class="li-header">Experience</li>
                <li><a href="/gear"><img src="/images/nav_gear.svg"/>Gear</a></li>
                <li><a href="/nutrition"><img src="/images/nav_nutrition.svg"/>Nutrition</a></li>
                <li><a href="/training"><img src="/images/nav_training.svg"/>Training</a></li>
                <li><a href="/races"><img src="/images/nav_races.svg"/>Races</a></li>
            </ul>

            <ul class="pad-bot">
                <li class="li-header">LEARNING</li>
                <li><a href="/articles"><img src="/images/nav-blog.svg"/>Articles</a></li>
                <li><a href="/blogs"><img src="/images/nav-blog.svg"/>Blogs</a></li>
                <li><a href="/books"><img src="/images/nav_books.svg"/>Books</a></li>
                <li><a href="/podcasts"><img src="/images/nav_podcasts.svg"/>Podcasts</a></li>
            </ul>

            <ul class="pad-bot">
                <li class="li-header">Handy</li>
                <li><a href="/apps"><img src="/images/nav_apps.svg"/>Apps</a></li>
                <li><a href="/communities"><img src="/images/nav_communities.svg"/>Communities</a></li>
                <li><a href="/entertainment"><img src="/images/nav_entertainment.svg"/>Entertainment</a></li>
            </ul>

        </div>
    </div>
</div>