<div class="hero-block auto pad-sm">
    <div class="hero-block-header auto pad-bot">
        <div>
            <h2>Training</h2>
            <h4>A handy list of training plans, routes & tips for every endurance discipline created by thousands of amateurs, just like you.
            </h4>
            <br>
            <div class="sub-header-block">
                <img src="/images/upload_arrow.svg"/>   <a class="btn-line ml"> Add training tips to our list</a>
            </div>
        </div>
    </div>

    <div class="sub-hero-nav">
        <a href="/training/marathon">Marathon</a>
        <a href="/training/swimrun" >Swimrun</a>
        <a href="/training/tri">Tri</a>
        <a href="/training/ultra">Ultra</a>
    </div>
    <br>
</div>