<div class="col-xs-12 col-sm-12 col-md-12 np">
    <div class="footer">
        <div class="beta-mw">
            <div class="col-xs-12 col-sm-2 col-md-2">
                <a class="footer-logo" href="/">
                    waddl
                </a>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
                <h4>POPULAR</h4>
                <ul>
                    <li><a href="/gear">Gear</a></li>
                    <li><a href="/nutrition">Nutrition</a></li>
                    <li><a href="/training">Trainingy</a></li>
                    <li><a href="/races">Races</a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2">
                <h4>LEARNING</h4>
                <ul>
                    <li><a href="/articles">Articles</a></li>
                    <li><a href="/blogs">Blogs</a></li>
                    <li><a  href="/books">Books</a></li>
                    <li><a href="/podcasts">Podcasts</a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-2 col-md-2">
                <h4>HANDY</h4>
                <ul>
                    <li><a href="/apps">Apps</a></li>
                    <li><a  href="/communities">Communities</a></li>
                    <li><a  href="/entertainment">Entertianment</a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-3">
                <h4>Questions?</h4>
                <ul>
                    <li><a href="/gear">We'd love to hear from you</a></li>
                    <li><a href="/gear">Our Story</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/url-search-params/0.9.0/url-search-params.js"
        type="text/javascript"></script>
<!--<script>
    var params = new URLSearchParams(window.location.search);
    var refcode = params.get('refcode');
    if (refcode) $('.referral-btn').attr('href', 'https://alpha.suppl.co/waitlist?ref=' + refcode);
    else $('.referral-btn').attr('href', 'https://alpha.suppl.co/waitlist');
</script>-->

<!--
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="68f71c05-c3d2-4266-886d-593334bd977b";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.im/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>-->
