<div class="hero-block auto pad-sm">
    <div class="hero-block-header auto pad-bot">
        <a>
            <h2>Books</h2>
            <h4>A reading list organized by category. You will find more than 100 great books to read. Some are life changing, others are light-hearted endurance tales.
            </h4>
            <br>
            <div class="sub-header-block">
                <img src="/images/subscribe_star.svg"/>  <a class="btn-line ml"> Subscribe to our newsletter</a> <span>and get the very best of waddl every week for FREE</span>
    </div>
        </div>
    </div>

</div>