<div class="hero-block auto pad-sm">
    <div class="hero-block-header auto pad-bot">
        <div class="fl">
            <h2>Entertainment</h2>
            <h4>Like to binge on Netflix? The best movies and TV shows for adventurers, nutrition, endurance and travel
            </h4>
            <br>
            <div class="sub-header-block">
                <img src="/images/subscribe_star.svg"/>  <a class="btn-line ml"> Subscribe to our newsletter</a> <span>and get the very best of waddl every week for FREE</span>
            </div>
        </div>
    </div>

</div>