<div class="hero-block auto pad-sm">
    <div class="hero-block-header auto">
        <div>
            <h2>Gear</h2>
            <h4>A curated guide of clothing, accessories and gear for training and your next event.</h4>
            <br>
            <div class="sub-header-block">
                <img src="/images/upload_arrow.svg"/>  <a class="btn-line ml"> Add gear to our list</a>
            </div>
        </div>
    </div>

    <br>
    <div class="sub-hero-nav ">
        <a href="/gear/cycling" class="active-sub" >Cycling</a>
        <a href="/gear/running" >Running</a>
        <a href="/gear/swimming" >Swimming</a>
    </div>

    <br>
    <div class="row pad-left pad-r">
            <div class="pad-bot-lg auto">
                <h3>Compression Socks</h3>
                <div class="col-xs-12 col-sm-3 col-md-3 np">
                    <a href="https://blog.kissmetrics.com/" target="_blank" class="row-block">
                        <div class="row-block-content auto">
                            <div class="row-block-avatar gear_img_socks_01">
                                <div class="row-block-overlay">
                                    <p>Super effective for long distances and cramp management. Giving you that extra 5% longevity. </p>
                                    <span>WADDL WINNER</span>
                                </div>
                            </div>
                            <div class="row-block-tag">
                                <h4>Compress Sport Full Compression</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 np">
                    <a href="https://blog.kissmetrics.com/" target="_blank" class="row-block">
                        <div class="row-block-content auto">
                            <div class="row-block-avatar gear_img_socks_02">
                                <div class="row-block-overlay">
                                <p>Super effective for long distances and cramp management. Giving you that extra 5% longevity. </p>
                                    <span>WADDL WINNER</span>
                                </div>
                            </div>
                            <div class="row-block-tag">
                                <h4>Compress Sport Calf Compression</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 np">
                    <a href="https://blog.kissmetrics.com/" target="_blank" class="row-block">
                        <div class="row-block-content auto">
                            <div class="row-block-avatar gear_img_socks_03">
                                <div class="row-block-overlay">
                                    <p>Super effective for long distances and cramp management. Quirky colors keeps you motivated </p>
                                </div>
                            </div>
                            <div class="row-block-tag">
                                <h4>Rymora Compression socks</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    <div class="row pad-left pad-r">
        <div class="pad-bot-lg auto">
            <h3>Road Running Shoes</h3>
            <div class="col-xs-12 col-sm-3 col-md-3 np">
                <a href="https://blog.kissmetrics.com/" target="_blank" class="row-block">
                    <div class="row-block-content auto">
                        <div class="row-block-avatar gear_img_trail_01">
                            <div class="row-block-overlay">
                                <p>Good for shorter distances and general wear. Will take huge commitment in training for most to utilise for longer than 10k's. Buy a size smaller than you think.</p>
                                <span>WADDL WINNER</span>
                            </div>
                        </div>
                        <div class="row-block-tag">
                            <h4>Vivo Barefoot Stealth Walk </h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row pad-left pad-r">
        <div class="pad-bot-lg auto">
            <h3>Trail Shoes</h3>
            <div class="col-xs-12 col-sm-3 col-md-3 np">
                <a href="https://blog.kissmetrics.com/" target="_blank" class="row-block">
                    <div class="row-block-content auto">
                        <div class="row-block-avatar gear_img_trail_02">
                            <div class="row-block-overlay">
                                <p>Good trail shoes. Fabric wears out quite quickly if you use very often. Get around 500 miles out of them on trails before they wear out</p>
                            </div>
                        </div>
                        <div class="row-block-tag">
                            <h4>Mizuno Wave Kazan</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>