<div class="hero-block auto pad-sm">
    <div class="hero-block-header auto pad-bot">
        <div class="fl">
            <h2>Apps</h2>
            <h4>A super list of mobile, web and wearable apps to support both physical and mental training. Optimise technology to boost your all round daily performance.
            </h4>
            <br>
            <div class="sub-header-block">
                <img src="/images/subscribe_star.svg"/>  <a class="btn-line ml"> Subscribe to our newsletter</a> and get the very best of waddl every week for FREE</a>
            </div>
        </div>
    </div>

</div>