<title>Hi there</title>
<meta property="og:type" content="website">
<meta property="og:title" content="Hi there">
<meta property="og:image" content="http://www.zanderwhitehurst.com/images/header.png">
<meta property="og:description"
      content="I design & code and have over 6 years experience in Product & SaaS. I studied at Oxford University & New York University and was named one of the top ten young british entrepreneurs by Founders Forum. I'm currently based in sunny London...">
<meta name="description" content="I design & code and have over 6 years experience in Product & SaaS. I studied at Oxford University & New York University and was named one of the top ten young british entrepreneurs by Founders Forum. I'm currently based in sunny London...">

<% include header-components/header-set.ejs %>
<% include header-components/header-styles.ejs %>
<% include header-components/header-tracking.ejs %>