<div class="hero-block auto pad-sm">
    <div class="hero-block-header auto">
        <div class="fl">
            <h2>Gear</h2>
            <h4>A curated guide of clothing, accessories and gear for training and your next event.</h4>
            <br>
            <div class="sub-header-block">
                <img src="/images/subscribe_star.svg"/>  <a class="btn-line ml"> Add gear to our list</a> </a>
            </div>
        </div>
    </div>

    <br>
    <div class="sub-hero-nav ">
        <a href="/gear/cycling">Cycling</a>
        <a href="/gear/running" >Running</a>
        <a href="/gear/swimming" >Swimming</a>
    </div>
</div>