<div class="hero-block auto pad-sm">
    <div class="hero-block-header auto pad-bot">
        <div class="fl">
            <h2>Communities</h2>
            <h4>A list of friendly communities all round the world who love running, cycling and staying active. Connect with like-minded folks in person or in a slack channel.
            </h4>
            <br>
            <div class="sub-header-block">
                <img src="/images/subscribe_star.svg"/>  <a class="btn-line ml"> Subscribe to our newsletter</a> and get the very best of waddl every week for FREE</a>
            </div>
        </div>
    </div>

</div>