<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/header/homepage-header.ejs %>

</head>
<body>
<% include ../../partials/sitebar/site-bar.ejs %>
<% include ../../partials/pages/homepage/waddl-nav.ejs %>
<% include ../../partials/pages/handy/communities/communities-hero.ejs %>


<footer>
    <% include ../../partials/footer/footer.ejs %>
    <script src="js/homepage.js"></script>
</footer>

</body>

</html>